.key {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 14px;
	font-size: 3vw;
}

.keyItem {
	display: flex;
	align-items: center;
}

.keyColor {
	width: 10px;
	height: 10px;
	margin-right: 10px;
}
