.root {
	width: 80%;
	margin: 40px auto;
}

.wrapper {
	position: relative;
}

.container {
	padding: 20px;
	position: relative;
}

.svgParent {
	overflow: visible;
}

.key {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 14px;
	font-size: 3vw;
}

.keyItem {
	display: flex;
	align-items: center;
}

.keyColor {
	width: 10px;
	height: 10px;
	margin-right: 10px;
}


