:root {
	/* dream color scheme*/
	--dream-purple: #a9a0e3;
	--dream-light-purple: #84a2e3;
	--dream-blue: #73badd;
	--dream-aqua: #64ce96;
	--dream-green: #86d673;

	/* mute color scheme */
	--mute-blue: #d3f1f4;
	--mute-blue-pink: #d4e2e5;
	--mute-lighter-pink: #d5d3d6;
	--mute-light-pink: #d6c2c6;
	--mute-pink: #d2b0b3;

	/* pastel color scheme */
	--pastel-orange: #f6d2b4;
	--pastel-lavender: #dbe5fb;
	--pastel-yellow: #f6f5ca;
	--pastel-purple: #cbc9e1;
	--pastel-pink: #ffe3e3;
}

.root {
	width: 80%;
	margin: 40px auto;
}

.wrapper {
	padding: 20px;
}

.svgContainer {
	position: relative;
}

.scaleContainer {
	position: absolute;
	height: 100%;
	width: 100%;
}

.scale {
	position: absolute;
	display: flex;
}

.scaleVertical {
	flex-direction: column;
	height: 50%;
}

.scaleHorizontal {
	width: 50%;
}

.scaleTop {
	border-top: 1px solid grey;
	top: -20px;
}

.scaleRight {
	border-right: 1px solid grey;
	right: -20px;
}

.scaleBottom {
	border-bottom: 1px solid grey;
	bottom: -20px;
}

.scaleLeft {
	border-left: 1px solid grey;
	left: -20px;
}

.scaleTopLeft {
	composes: scale;
	composes: scaleHorizontal;
	composes: scaleTop;
}

.scaleTopRight {
	composes: scale;
	composes: scaleHorizontal;
	composes: scaleTop;
	right: 0;
}

.scaleRightTop {
	composes: scale;
	composes: scaleVertical;
	composes: scaleRight;
}

.scaleRightBottom {
	composes: scale;
	composes: scaleVertical;
	composes: scaleRight;
	bottom: 0;
}

.scaleBottomLeft {
	composes: scale;
	composes: scaleHorizontal;
	composes: scaleBottom;
}

.scaleBottomRight {
	composes: scale;
	composes: scaleHorizontal;
	composes: scaleBottom;
	right: 0;
}

.scaleLeftTop {
	composes: scale;
	composes: scaleVertical;
	composes: scaleLeft;
}

.scaleLeftBottom {
	composes: scale;
	composes: scaleVertical;
	composes: scaleLeft;
	bottom: 0;
}

.scaleDegree {
	position: absolute;
	border-bottom: 1px solid grey;
}

.scaleDegreeHorizontal {
	width: 10px;
	border-top: 1px solid grey;
}

.scaleDegreeVertical {
	height: 10px;
	border-left: 1px solid grey;
}

.scaleDegreeTopLeft {
	composes: scaleDegreeVertical;

}

.scaleDegreeTopRight {
	composes: scaleDegreeVertical;

}

.scaleDegreeRightTop {
	composes: scaleDegreeHorizontal;

}

.scaleDegreeRightBottom {
	composes: scaleDegreeHorizontal;

}

.scaleDegreeBottomLeft {
	composes: scaleDegreeVertical;

}

.scaleDegreeBottomRight {
	composes: scaleDegreeVertical;

}

.scaleDegreeLeftTop {
	composes: scaleDegreeHorizontal;

}

.scaleDegreeLeftBottom {
	composes: scaleDegreeHorizontal;

}

.svgParent {
	overflow: visible;
}

.label {
	position: absolute;
	font-size: 20px;
}
