:root {
	/* dream color scheme*/
	--dream-purple: #a9a0e3;
	--dream-light-purple: #84a2e3;
	--dream-blue: #73badd;
	--dream-aqua: #64ce96;
	--dream-green: #86d673;

	/* mute color scheme */
	--mute-blue: #d3f1f4;
	--mute-blue-pink: #d4e2e5;
	--mute-lighter-pink: #d5d3d6;
	--mute-light-pink: #d6c2c6;
	--mute-pink: #d2b0b3;

	/* pastel color scheme */
	--pastel-orange: #f6d2b4;
	--pastel-lavender: #dbe5fb;
	--pastel-yellow: #f6f5ca;
	--pastel-purple: #cbc9e1;
	--pastel-pink: #ffe3e3;
}

.root {
	width: 80%;
	margin: 40px auto;
}

.wrapper {
	padding: 20px;
	position: relative;
}

.container {
	position: relative;
}

.svgParent {
	overflow: visible;
}

.key {
	position: absolute;
	bottom: 0;
	left: 0;
}

.keyItem {
	display: flex;
	align-items: center;
}

.keyColor {
	width: 10px;
	height: 10px;
	margin-right: 10px;
}


